body {
  margin: 20px;
  padding: 0;
  background: #200234;
  color: #fff;
}
.container {
  max-width: 760px;
  margin: auto;
  padding: 10px;
  border: tomato dashed 10px;
  background-color: #e775d8
  ;
}
.main-img img, .imgs img {
  width: 100%;
}
.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}